html,
body,
#root,
.App,
#map {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.ant-collapse.feature-panel {
  margin-bottom: 10px;
}

.ant-typography.feature-name-text {
  cursor: pointer;
}

.track-panel .ant-collapse-content-box {
  padding: 0px 20px 0px 20px !important;
}
